.container {
  background-color: #FFFFFF;
  width: 500px;
  height: 180px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 40px 35px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2196F3;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.infoItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
}

.description {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.5px;
  color: #A0B0B9;
}

.item {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: flex-start;
  color: #4A4A4A;
}
