body {
  background-color: rgb(250, 250,250);
  font-family: 'Open Sans', sans-serif;
}
  
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  margin-top: 50px;
}

.flightsContainer {
  display: flex;
  flex-direction: column;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  margin: 0 75px 0 20px;
  padding: 20px 30px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(#000, 0.1);
  border-radius: 5px;
  overflow: hidden;
  height: 1%;
}

.checkboxHeader {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.5px;
  color: #4A4A4A;
  margin-bottom: 15px;
}

.checkbox {
  display: flex;
  cursor: pointer;
  margin: 5px 0;
}

.errorMessage {
  margin-top: 50px;
  font-size: 20px;
}

.image {
  margin-top: 50px;
}
  
.tabs {
  display: flex;
}

.tab {
  background: #fff;
  border: 1px solid #DFE5EC;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4A4A4A;
  cursor: pointer;
}

.activeTab {
  background-color: #2196F3;
  color: #fff;
}

.label {
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #4A4A4A;
}
