body {
  background-color: rgb(250, 250,250);
  font-family: 'Open Sans', sans-serif;
}
  
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  margin-top: 50px;
}
  
.tabs {
  display: flex;
}

.tab {
  border: 1px solid black;
}

.activeTab {
  background-color: #2196F3;
}
