body {
  background-color: rgb(250, 250,250);
  font-family: 'Open Sans', sans-serif;
}
  
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  margin-top: 50px;
}
  
.tabs {
  display: flex;
}

.tab {
  background: #FFFFFF;
  border: 1px solid #DFE5EC;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4A4A4A;
  cursor: pointer;
}

.activeTab {
  background-color: #2196F3;
  color: #fff;
}
